{% extends "base.html" %}
{% block content %}
<div class="container">
  <!-- Example row of columns -->
  {% if products.count > 0 %}
  {% for product in products.all %}
  <h2>{{ product.title }}</h2>
  <p>{{ product.summary }}</p>
  <small>{{ product.pub_date_pretty }}</small>
  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  <p><a class="btn btn-secondary" href="#" role="button">Upvote &#x21E7;</a></p>
  <hr/>
  {% endfor %}
  {% else %}
  No products registered yet.
  {% endif %}


</div> <!-- /container -->

{% endblock %}
