<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Product Hunt Clone{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href = "{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel = "stylesheet">
    {% block icon %}{% endblock %}
    <!-- Custom styles for this template -->
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="navbar-brand my-0 mr-md-auto"><a style = "text-decoration: none" href="{% url 'index' %}" class = "no-link"><img class="d-inline-block align-top" src="{% static 'logo.png' %}" height = 30/>Product Hunt</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        {% if not user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
        <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
        {% else %}
        <form action = "{% url 'logout' %}" method = "POST">
          {% csrf_token %}
          <a class="btn" href="{% url 'add_product' %}"><span class="oi oi-plus"></span></a>
          <input type = "submit" class="btn btn-outline-primary" value = "Logout"/>
        </form>
        {% endif %}

      </nav>
    </div>

    <main role="main">

      {% block header %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hunt Product</h1>
          <p>We show goods, stuff and ideas that people come up to, and share them with the world. You can view, upvote and even share your own products here. Have fun!</p>
        </div>
      </div>
      {% endblock %}

      {% block content %}
      {% endblock %}

    </main>
    <hr/>

    <footer class="container text-center">
      <p>&copy; Meysam Azad {% now "Y" %}</p>
    </footer>

    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
