{% extends "base.html" %}
{% block title %}Add a product{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<form method = "POST" action = "{% url 'add_product' %}" enctype = "multipart/form-data">
  {% csrf_token %}
  <div class="container">

    <!-- row 1 -->
    <div class = "row">
      <div class = "col-md-3">
        <h5>Title:</h5>
      </div>
      <div class = "col-md-4">
        <input type = "text" name = "title" placeholder = "enter your title"/>
      </div>
    </div>

    <!-- row 2 -->
    <div class = "row">
      <div class = "col-md-3">
        <h5>URL:</h5>
      </div>
      <div class = "col-md-4">
        <input type = "text" name = "url" placeholder = "enter your URL"/>
      </div>
    </div>

    <!-- row 3 -->
    <div class = "row">
      <div class = "col-md-3">
        <h5>Body:</h5>
      </div>
      <div class = "col-md-4">
        <input type = "textbox" name = "body" placeholder = "enter your body"/>
      </div>
    </div>

    <!-- row 4 -->
    <div class = "row">
      <div class = "col-md-3">
        <h5>Icon:</h5>
      </div>
      <div class = "col-md-4">
        <input type = "file" name = "icon" placeholder = "enter your icon"/>
      </div>
    </div>

    <!-- row 5-->
    <div class = "row">
      <div class = "col-md-3">
        <h5>Image:</h5>
      </div>
      <div class = "col-md-4">
        <input type = "file" name = "image" placeholder = "enter your image"/>
      </div>
    </div>

    <!-- row 6 -->
    <div class = "row">
      <div class = "col-md-3">
      </div>
      <div>
        {% if error %}
        <ul style = "color: red">
          <li>{{ error }}</li>
        </ul>
        {% endif %}
      </div>
    </div>

    <!-- row 7 -->
    <div class = "row">
      <div class = "col-md-3">
      </div>
      <div class = "col-md-4">
        <input class = "btn btn-primary" type = "submit" value = "Add product" />
      </div>
    </div>

  </div>
</form>

{% endblock %}
